<?xml version="1.0"?>
<config>
    <modules>
        <Mayank_Attributelogos>
            <version>0.1.0</version>
        </Mayank_Attributelogos>
    </modules>
    <frontend>
        <routers>
            <attributelogos>
                <use>standard</use>
                <args>
                    <module>Mayank_Attributelogos</module>
                    <frontName>attributelogos</frontName>
                </args>
            </attributelogos>
        </routers>
        <layout>
            <updates>
                <attributelogos>
                    <file>attributelogos.xml</file>
                </attributelogos>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<attributelogos>
				<use>admin</use>
				<args>
					<module>Mayank_Attributelogos</module>
					<frontName>attributelogos</frontName>
				</args>
			</attributelogos>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<attributelogos module="attributelogos">
				<title>Attributelogos</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="attributelogos">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>attributelogos/adminhtml_attributelogos</action>
					</items>
				</children>
			</attributelogos>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Mayank_Attributelogos>
							<title>Attributelogos Module</title>
							<sort_order>10</sort_order>
						</Mayank_Attributelogos>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<attributelogos>
					<file>attributelogos.xml</file>
				</attributelogos>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <attributelogos>
                <class>Mayank_Attributelogos_Model</class>
                <resourceModel>attributelogos_mysql4</resourceModel>
            </attributelogos>
            <attributelogos_mysql4>
                <class>Mayank_Attributelogos_Model_Mysql4</class>
                <entities>
                    <attributelogos>
                        <table>attributelogos</table>
                    </attributelogos>
                </entities>
            </attributelogos_mysql4>
        </models>
        <resources>
            <attributelogos_setup>
                <setup>
                    <module>Mayank_Attributelogos</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </attributelogos_setup>
            <attributelogos_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </attributelogos_write>
            <attributelogos_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </attributelogos_read>
        </resources>
        <blocks>
            <attributelogos>
                <class>Mayank_Attributelogos_Block</class>
            </attributelogos>
        </blocks>
        <helpers>
            <attributelogos>
                <class>Mayank_Attributelogos_Helper</class>
            </attributelogos>
        </helpers>
    </global>
</config>